langchain
langchain-classic
langchain-openai
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
langgraph
chromadb
sentence-transformers
pymupdf
gradio
pydantic
python-dotenv
pandas
